
<h1>{{ apis.title }}</h1>
<h2 class="api-h2">{{ apis.info }}</h2>
{% for api in apis.apis %}
	<section class="api-info" id="{{ api.endpoint }}-{{ api.accept }}">
		<h1>{{ api.endpoint }}</h1>
		<h2>{{ api.info }}</h2>
		<span><mark>{{ api.accept }}</mark></span>

		{% if api.requires %}
			<h3><span>Requires</span></h3>
			<table>
				<tr>
					<th>Key</th>
					<th>Info</th>
				</tr>
				{% for required in api.requires %}
					{% for title in required %}
						<tr>
							<td>{{ title[0] }}</td>
							<td>{{ title[1] }}</td>
						</tr>
					{% endfor %}
				{% endfor %}
			</table>
		{% endif %}

		{% if api.returns %}
			{% if api.returns.fields == "_parent" %}
				{% assign fields = apis.return %}
			{% else %}
				{% assign fields = api.returns.fields %}
			{% endif %}
		<h3><span>Returns</span><mark>{{ api.returns.type }}</mark></h3>
		{% if fields %}
		<table>
			<tr>
				<th>Key</th>
				<th>Info</th>
			</tr>
		{% for return in fields %}
			{% for title in return %}
			<tr>
				<td><strong>{{ title[0] }}</strong></td>
				<td>
					{% for name in title[1] %}
						{% for infos in name %}
							{% if infos[0] != null %}
							<div><strong>{{ infos[0] }}:</strong> {{ infos[1] }}</div>
							{% else %}
							{{ infos }}
							{% endif %}
						{% endfor %}
					{% endfor %}
				</td>
			</tr>
			{% endfor %}
		{% endfor %}
		</table>
		{% endif %}

		{% endif %}

		{% if api.run %}
		{% comment %}
		<button class="api-test btn btn-default" data-endpoint="{% if api.try.endpoint %}{{ api.try.endpoint }}{% else %}{{ api.endpoint }}{% endif %}" data-type="{{ api.accept }}">
			Run Test
			<div>{{ api.try | replace:"=>":":" | replace:"[":"" | replace:"]":"" }}</div>
		</button>

		<div class="api-test-holder">
			<h3><mark>API Test</mark></h3>
			<form method="post" action="http://localhost/phpfox/4x_/PF.Base/vendor/moxi9/phpfox-api-console/" class="api-form">
				<div><input type="hidden" name="api-form-type" class="api-form-type" value="{{ api.accept }}"></div>
				<div><input type="hidden" name="endpoint" class="api-end-point" value="{{ api.endpoint }}"></div>
				{% for run in api.run %}
					{% if run[0] == "endpoint" %}
					<div class="form-group">
						<label>{{ run[1] }}</label>
						<input type="text" name="__endpoint" class="form-control base-end-point" autocomplete="off">
					</div>
					{% elsif run[0] == "auth" %}
							<div class="form-group">
								<label>User ID#</label>
								<input type="text" name="__auth" class="form-control base-auth" autocomplete="off">
							</div>
					{% elsif run[0] == __all %}

					{% else %}

						<div class="form-group">
							<label>{{ run[1] }}</label>
							<input type="text" name="{{ run[0] }}" class="form-control" autocomplete="off">
						</div>
					{% endif %}
				{% endfor %}
				<i class="fa fa-spin fa-circle-o-notch hide"></i>
				<div><input type="submit" class="btn btn-default" value="Run"></div>
				<pre class="api-response hide"><code></code></pre>
			</form>
		</div>

		{% endcomment %}

		{% endif %}

	</section>
{% endfor %}