
@body-bg: #f6f6f6;
@primary-bg: #F47D30;
@primary-bg-color: #fff;

@nav-bg: #3C3C3C;
@nav-color: #fff;

@h-color: lighten(#222, 10%);

body {
	background:@body-bg;
	color:#808080;
	font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:15px;
	line-height:1.5;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	line-height:1.5;
	color:@h-color;
}

a, a:hover, a:focus {
	transition:all 0.55s ease;
	outline:none;
}

#header {
	background:#fff;
	border-bottom:1px #dfdfdf solid;
	position:fixed;
	left:0px;
	top:0px;
	right:0px;
	height:70px;
	line-height:70px;
	z-index:300;

	h1 {
		height:70px;
		line-height:70px;
		margin:0px;
		padding:0px;
		font-weight:700;
		font-size:28px;
		letter-spacing:4px;

		a, a:hover, a:focus {
			color:#505050;
			text-decoration:none;

			span {
				color:#b3b3b3;
				font-weight:300;
			}
		}
	}
}

#panel, #results {
	position:fixed;
	left:0px;
	top:70px;
	width:250px;
	bottom:0px;
	z-index:100;
	background:@nav-bg;
	overflow:auto;

	> nav > div {
		margin-bottom:10px;

		> a, > a:hover {
			display:block;
			padding:10px 10px 10px 10px;
			color:darken(@nav-color, 20%);
			text-transform:uppercase;
			font-size:12px;
			cursor:default;
			border-bottom:1px lighten(@nav-bg, 10%) solid;

			font-weight:500;
			letter-spacing:1px;
			text-decoration:none;
		}

		> div {

			> a, > a:hover {
				display:block;
				padding:10px 10px 10px 20px;
				color:@nav-color;
				text-decoration:none;
				font-size:14px;
			}

			> a.active, > a.active:hover {
				background:@primary-bg;
				color:@primary-bg-color;
			}

			> a:hover {
				background:darken(@nav-bg, 4%);
			}
		}
	}
}

#content {
	margin:90px 0px 50px 270px;
}

.article {
	h1:first-of-type {
		margin-top:0px;
		border-bottom:1px darken(#fff, 10%) solid;
		padding-bottom:5px;
		margin-bottom:20px;
	}

	h2 {
		margin-top:30px;
	}

	max-width:640px;
	background:#fff;
	padding:20px;

	img {
		border:1px #dfdfdf solid;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
		margin:5px 0px;
		max-width:600px;
		max-height:400px;
		cursor:pointer;
	}
}

table {
	background:#fff;
	margin-bottom:20px;

	th {
		background:@body-bg;
		border-bottom:1px lighten(#dfdfdf, 5%) solid;
	}

	td {
		padding:10px 20px;
		border:1px lighten(#dfdfdf, 5%) solid;
		border-top:0px;
	}
}

blockquote {
	font-size:inherit;

	img {
		float:left;
		margin:0px 8px 0px 0px !important;
		display:block;
	}
}

.search {
	margin-bottom:20px;

	input[type="text"] {
		background:darken(@nav-bg, 5%);
		text-indent:10px;
		border:0px;
		outline:none;
		box-shadow:none;
		padding:10px 0px;
		width:100%;
		font-size:13px;
	}
}

#results {
	z-index:200;
	top:130px;
	background:@nav-bg;
	display:none;

	> a, > a:hover {
		display:block;
		padding:10px 10px 10px 20px;
		color:@nav-color;
		text-decoration:none;
		font-size:14px;
	}

	> a:hover {
		background:darken(@nav-bg, 4%);
	}
}

a.next:before {
	content:'Next:';
	display:inline-block;
	margin-right:10px;
	font-weight:500;
	color:@primary-bg-color;
}

a.next, a.next:hover {
	display:block;
	font-size:16px;
	margin:40px -20px;
	height:70px;
	line-height:70px;
	background:darken(@primary-bg, 10%);
	color:darken(@primary-bg-color, 10%);
	text-indent:20px;
	text-decoration:none;
	box-shadow: inset 0px -2px 20px 3px rgba(0,0,0,0.2);

	i {
		margin-right:0px;
		margin-left:10px;
	}
}

a.next:hover {
	box-shadow:none;
	color:@primary-bg-color;
}

.links {
	border-top:1px darken(@body-bg, 10%) solid;
	margin-top:20px;
	padding-top:20px;
	padding-bottom:50px;
	padding-left:20px;
	margin-left:250px;
	font-size:13px;
	position:relative;

	a, a:hover {
		display:inline-block;
		color:lighten(#808080, 15%);
		text-decoration:none;

		i {
			margin-right:5px;
			font-size:22px;
			vertical-align:bottom;
		}
	}

	a:hover {
		color:#222;
	}
}

.top10 {
	margin-top:10px;
}

.top20 {
	margin-top:20px;
}

pre {
	background:transparent;
	padding:0px;
	margin:5px 0px;
	border:0px;
}

.hljs {
	padding:20px;
}

code:not(.hljs) {
	padding:20px;
	background:@nav-bg;
	color:@nav-color;
	display:block;
	/*max-width:600px;*/
	margin:5px 0px;
}